*{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,Arial,sans-serif;
    letter-spacing: 0.025em;
    transition: all 0.3s;
}

a{
    color: #1A1A1A;
    text-decoration: none;
}

.bg-image{
    background-color: #F5F5F5;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.overflow-hidden{
    overflow:  hidden;
}

.c-pointer{
    cursor: pointer;
}






.lh-tight{
    line-height: 1;
}

.lh-title{
    line-height: 1.25;
}

.lh-body{
    line-height: 1.5;
}

.lh-airy{
    line-height: 2;
}

.fs-1{
    font-size: 12px;
}

.fs-2{
    font-size: 14px;
}

.fs-3{
    font-size: 16px;
}

.fs-4{
    font-size: 28px;
    font-weight: 300;
    letter-spacing: normal;
}

.fw-100{
    font-weight: 100;
}

.fw-200{
    font-weight: 200;
}

.fw-300{
    font-weight: 300;
}

.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.dark-grey-text{
    color: #1A1A1A;
}

.light-grey-text{
    color: #999999;
}



.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}








.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.d-none{
    display: none;
}

.flex{
    display: flex;
    flex-direction: row;
}

.content-align-center{
    display: flex;
    justify-content: center;
}

.content-align-right{
    display: flex;
    justify-content: right;
}

.vertical-center{
    align-self: center;
}

.distribute-items{
    justify-content: space-between;
}










.m-auto{
    margin: auto;
}


.mx-1{
    margin-left: 4px;
    margin-right: 4px;
}

.mx-2{
    margin-left: 8px;
    margin-right: 8px;
}

.mx-3{
    margin-left: 12px;
    margin-right: 12px;
}

.mx-4{
    margin-left: 16px;
    margin-right: 16px;
}

.mx-5{
    margin-left: 20px;
    margin-right: 20px;
}

.mx-6{
    margin-left: 24px;
    margin-right: 24px;
}

.mx-7{
    margin-left: 28px;
    margin-right: 28px;
}

.mx-8{
    margin-left: 32px;
    margin-right: 32px;
}



.mt-1{
    margin-top: 4px;
}

.mt-2{
    margin-top: 8px;
}

.mt-3{
    margin-top: 12px;
}

.mt-4{
    margin-top: 16px;
}

.mt-5{
    margin-top: 20px;
}

.mt-6{
    margin-top: 24px;
}

.mt-7{
    margin-top: 28px;
}

.mt-8{
    margin-top: 32px;
}


.mr-1{
    margin-right: 4px;
}

.mr-2{
    margin-right: 8px;
}

.mr-3{
    margin-right: 12px;
}

.mr-4{
    margin-right: 16px;
}

.mr-5{
    margin-right: 20px;
}

.mr-6{
    margin-right: 24px;
}

.mr-7{
    margin-right: 28px;
}

.mr-8{
    margin-right: 32px;
}



.px-1{
    padding-left: 4px;
    padding-right: 4px;
}

.px-2{
    padding-left: 8px;
    padding-right: 8px;
}

.px-3{
    padding-left: 12px;
    padding-right: 12px;
}

.px-4{
    padding-left: 16px;
    padding-right: 16px;
}

.px-5{
    padding-left: 20px;
    padding-right: 20px;
}

.px-6{
    padding-left: 24px;
    padding-right: 24px;
}

.px-7{
    padding-left: 28px;
    padding-right: 28px;
}

.px-8{
    padding-left: 32px;
    padding-right: 32px;
}


.py-1{
    padding-top: 4px;
    padding-bottom: 4px;
}

.py-2{
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-3{
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-4{
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-5{
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-6{
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-7{
    padding-top: 28px;
    padding-bottom: 28px;
}

.py-8{
    padding-top: 32px;
    padding-bottom: 32px;
}



.pt-1{
    padding-top: 4px;
}

.pt-2{
    padding-top: 8px;
}

.pt-3{
    padding-top: 12px;
}

.pt-4{
    padding-top: 16px;
}

.pt-5{
    padding-top: 20px;
}

.pt-6{
    padding-top: 24px;
}

.pt-7{
    padding-top: 28px;
}

.pt-8{
    padding-top: 32px;
}



.pl-10{
    padding-left: 40px;
}



.separator-invisible{
    border: none;    
}

.separator-light{
    border-top: 1px solid #E6E6E6;    
}

.spacer-small{
    width: 100%;
    height: 40px;
}

.spacer-medium{
    width: 100%;
    height: 80px;
}

.spacer-large{
    width: 100%;
    height: 116px;
}

.border-none{
    border: none;
}

.border-dark-solid{
    border: 1px solid #1a1a1a;
}

.border-light-solid{
    border: 1px solid #E6E6E6;
}

.border-left-light-solid{
    border-left: 1px solid #E6E6E6;
}



.container{
    width: calc(100% - 48px);
    max-width: 1136px;
    margin: auto;
}

.header-logo{
    background-image: url('../img/header-logo.png');
    height: 36px;
    width: 36px;
}

.header-nav-tab{
    display: flex;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
}

.header-nav-tab:hover{
    background-color: #F5F5F5;
}

.header-about-tab{
    margin-right: 16px;
    border: 1px solid #1A1A1A;
}

.header-about-tab.active{
    background-color: #F5F5F5;
    border: none;
    border-bottom: 3px solid #1A1A1A;
}

.header-resume-tab .action-arrow{
    margin-left: 4px;
}

.first-fold-top-spacer{
    height: 200px;
}


.projects-container{
    
}

.project-card{
    display: block;
    margin-top: 48px;
}

.project1{
    margin-top: 0;
}

.project-card .project-image{
    padding-top: 60%;
    background-color: #F5F5F5;
    transition: background-size 10s;
    background-size: 100%;
}

.project-card .project-text-content{
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.project-card:hover .project-image{
    background-size: 110%;
}

.project1 .project-image{
    background-image: url('../img/homepage/projects/clearquote.png');
}

.project2 .project-image{
    background-image: url('../img/homepage/projects/passon.png');
}

.project3 .project-image{
    background-image: url('../img/homepage/projects/aroras-business.png');
}

.project4 .project-image{
    background-image: url('../img/homepage/projects/zomato.png');
}

.testimonials-container{
}

.testimonials-carousel{
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 40px;
}

.testimonial-slide{
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: start;
}

#testimonial1{
    
}

.testimonial-user-images-group{
    display: flex;
}


.testimonial-content-body{
    max-width: 848px;
}

.testimonial-user-image{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #E6E6E6;
    cursor: pointer;
}

.testimonial-user-image.active{
    width: 48px;
    height: 48px;
}

.testimonial-user-image.user1{
    background-image: url('../img/homepage/testimonials/abu.png');
}

.testimonial-user-image.user2{
    background-image: url('../img/homepage/testimonials/venkat.png');
}

.testimonial-user-image.user3{
    background-image: url('../img/homepage/testimonials/sharath.png');
}


.testimonials-container .testimonial-content-body{
    text-align: left;
}

.email-me-link .action-arrow{
    margin-left: 4px;
}

.footer-section-container{
    padding-top: 32px;
    padding-bottom: 64px;
}


.social-icons a{
    display: inline-block;
    width: 32px;
    height: 32px;
}

.social-icon-behance{
    background-image: url('../img/homepage/social-icons/behance.svg');
}

.kitchen-tip{
    margin-top: 28px;
    font-size: 12px;
}





/*About Me page CSS starts here*/


.about-me-first-line-section .photo-div{
    justify-content: center;
    margin-bottom: 72px;
}


.about-me-first-line-section .my-profile-photo{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.about-photos-group-mobile{
    background-image: url("../img/about/about-photo-mobile.png");
    padding-top: 60.9%;
}


.my-story-timeline{
   
}

.timline{
    margin-top: 40px;
}

.timline-element{
    padding-bottom: 40px;
}

.timline-element:first-child{
    
}

.timline-element:last-child{
    padding-bottom: 0;
    border-left: none;
}


.timline-element .indicator{
    margin-left: -8px;
    background-color: white;
    width: 8px;
    height: 8px;
    border: 4px solid #E6E6E6;
    border-radius: 100%;
}

.timline-element:last-child .indicator{
    margin-left: -14px;
    width: 12px;
    height: 12px;
    border-width: 8px;
}

.timline-element .text-content{

}

.timline-element:last-child .text-content{

}

.food-images-container{

}

.food-images-container .food-image{
    margin-top: 16px;
    height: 240px;
}

.food-image:nth-child(1){
    background-image: url("../img/about/food-images/grilled-cheese.png");
}

.food-image:nth-child(2){
    background-image: url("../img/about/food-images/rosemerry-oil.png");
    background-position-y: 20%;
}

.food-image:nth-child(3){
    background-image: url("../img/about/food-images/tiramesu.png");
    background-position-y: 30%;
}

.food-image:nth-child(4){
    background-image: url("../img/about/food-images/italian-salad.png");
}
